<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">¡Hola Amor, Feliz Navidad!</h1>
      <p class="lead">Te deseo una Feliz Navidad y un Próspero Año 2021.</p>
      <hr class="my-4">
      <p>Estoy aprendiendo a programar.</p>
      <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
    </div>
  </div>
</div>


<%= link_to 'Go to the list ', articles_path%>

<%= link_to ' About', about_path%>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>
