<h1>¡Opa chato!</h1>

<p>
<br>
<br>
  Mijito, les deseo un feliz año 2021. Seguro va a estar lleno de buenos momentos.
<br>
<br>
  Gracias por todo el apoyo en este 2020.
<br>
<br>
Esta primera aplicación en Ruby on Rails es dedicada a Truji y Tiven.
<br>
<br>
Ensayo de link  <a href="https://www.delvallealsilicio.com/single-post/2021-resolution-ideas-here-s-one-angel-investment-in-latin-america"> Articulo SVLinks </a> fin del ensayo
      </p>

<%= link_to 'Go to the list ', articles_path%>

<%= link_to ' About', about_path%>
