<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Blog en Ruby On Rails</h1>
    <p class="lead">Esta es mi primera aplicación en Ruby On Rails con Base de Datos - Modelo CRUD</p>
    <hr class="my-4">
    <p>Es la primera parte del curso</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
