<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small><small>Copyright &copy; <%= link_to "Andrés Ríos", "https://www.bbc.com", class: "text-white" %></small></small>
  </div>
</footer>
